<div class="gap"></div>

<!-- SEC: VIEDEO -->
<div id="sec_videos" class="seccion fondo_gris">

	<!--<div class="first_line wow fadeInDown"></div>-->

    <div class="contenedor_sec">

	    <div class="titulo wow fadeInDown">

	      	<h2 class="sombra_gris_blanco">
	        	
	        	<i class="fa fa-play-circle"></i>Videos
	      	
	      	</h2>
	    
	    </div>

	    <!--
	    <div class="ver_mas wow bounceInRight entrada-1s5">

	    	<a href="">

	    		<h3><i class="fa fa-caret-right"></i>ver todos los videos</h3>
	    	
	    	</a>
	    	
	    </div>
	    -->

    	<div class="row">

    		<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HoAi9jjm43w" allowfullscreen></iframe>

					</div>

					<h4><strong>Lala Deheinzelin</strong></h4>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RbggACxQzO0" allowfullscreen></iframe>

					</div>

					<h4><strong>Lala Deheinzelin</strong></h4>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2z4vnXpO4nk" allowfullscreen></iframe>

					</div>

					<h4><strong>Lala Deheinzelin</strong></h4>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KkZZlSHU8-E" allowfullscreen></iframe>

					</div>

					<h4><strong>Neal Gorenflo</strong></h4>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Zl08ym5pl80" allowfullscreen></iframe>

					</div>

					<h4><strong>Neal Gorenflo</strong></h4>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/e3ldyJqFeIQ" allowfullscreen></iframe>

					</div>

					<h4><strong>Neal Gorenflo</strong></h4>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3z1NJZom81w" allowfullscreen></iframe>

					</div>

					<h4><strong>David de Ugarte</strong></h4>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WtxNtG0FNTs" allowfullscreen></iframe>

					</div>

					<h4><strong>David de Ugarte</strong></h4>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GjH44IfULXw" allowfullscreen></iframe>

					</div>

					<h4><strong>David de Ugarte</strong></h4>

				</div>

			</div>

			<div class="col-xs-11 col-md-6 col-lg-4">

    			<div class="tarjeta_video wow fadeInLeft">

    				<div class="embed-responsive embed-responsive-16by9">

					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wmY8-U4vU9c" allowfullscreen></iframe>

					</div>

					<h4><strong>David de Ugarte</strong></h4>

				</div>

			</div>

		</div>

		<!--
		<a style="visibility: visible; animation-name: fadeInLeft;" class="wow fadeInLeft btn btn_fondo_claro eventime_button animated" href="/#/videos" role="button">CARGAR MÁS</a>
		-->

	</div>

</div>


